@import url('https://fonts.googleapis.com/css?family=Quicksand:300');


#AshokanPage {
    width: 100%;
    height: 600px;
}


*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    background: #d0cccc;
    font-family: 'Quicksand', sans-serif;
    
  }




  .contAshokan {
    position: relative;
    overflow: hidden;
    height: 100vh;
    padding-top: 10px;
    padding-right: 90px;
    padding-bottom: 170px;
    /* padding-left: 90px; */
    width: 100%;
    /* margin-top: 30px; */
    
  }

  .contAshokan__inner {
    position: relative;
    height: 100%;
    width: 100%;
  }
  /* .contAshokan__inner__inner:hover .elAshokan__heading:nth-child(1){
    display: none;
    transition: opacity 0.25s 0.25s;

  } */
  .contAshokan__inner:hover .elAshokan__bg:after {
    opacity: 1;
  }
  .elAshokan {
    position: absolute;
    left: 0;
    top: 0;
    width: 13%;
    height: 100%;
    background: #ffffff;
    transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
    will-change: transform, width, opacity;
  }
  .elAshokan:not(.s--active) {
    cursor: pointer;
  }
  .elAshokan__overflow {
    overflow: hidden;
    position: relative;
    height: 99%;
    
  }
  .elAshokan__inner {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: 100%;
    transition: transform 1s;
  }
  .contAshokan.s--inactive .elAshokan__inner {
    transform: translate3d(0, 100%, 0);
  }
  .elAshokan__bg {
    display: flex;
    justify-content: center;
    position: relative;
    width: auto;
    height: 100%;
    transition: transform 0.6s 0.7s;
    will-change: transform;
    /* margin-left: 50px; */
    border: 1px solid black;
  }
  .elAshokan__bg:before {
    content: "";
    position: absolute;
    left: 0;
    top: -5%;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: center center;
    transition: transform 1s;
    transform: translate3d(0, 0, 0) scale(1);
  }
  .contAshokan.s--inactive .elAshokan__bg:before {
    transform: translate3d(0, -100%, 0) scale(1.2);
  }
  .elAshokan.s--active .elAshokan__bg:before {
    transition: transform 0.8s;
  }
  .elAshokan__bg:after {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .contAshokan.s--el-active .elAshokan__bg:after {
    transition: opacity 0.5s 1.4s;
    opacity: 1 !important;
  }
  .elAshokan__preview-contAshokan {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 700px;
    width: 400px;
    transition: all 0.3s 1.2s;
  }
  .contAshokan.s--inactive .elAshokan__preview-contAshokan {
    opacity: 0;
    transform: translateY(10px);
  }
  .contAshokan.s--el-active .elAshokan__preview-contAshokan {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
  }
  /* .elAshokan__heading {
    color: #fff;
    text-transform: uppercase;
    font-size:   18px;
    transform: rotate3d(90);
    border: 1px solid rgb(197, 183, 183);
    background-color: #d0cccc;
    opacity: 0.5;
    height: 70px;
    width: 100%;
    
    
  } */

 
  .elAshokan__content {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    opacity: 0;
    /* background-color: #3f39398e; */
    pointer-events: none;
    transition: all 0.1s;
    writing-mode: vertical-lr;

  }
  .elAshokan.s--active .elAshokan__content {
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s 1.4s;
  } 
 .elAshokan__text {
    display: flex;
    text-transform: uppercase;
    font-size: 35px;
    color: black;
    font-family: 'Quicksand', sans-serif;
    /* writing-mode: vertical-rl; */
    background-color: white;
    /* margin-top: -20px;
    margin-left: 58px; */
    
  }
 

  .elAshokan__close-btn {
    z-index: -1;
    position: absolute;
    right: 107px;
    top: 10px;
    width: 60px;
    height: 60px;
    opacity: 0;
    pointer-events: none;
    transition: all 0s 0.45s;
    cursor: pointer;
  }
  .elAshokan.s--active .elAshokan__close-btn {
    z-index: 6;
    opacity: 1;
    pointer-events: auto;
    transition: all 0s 1.4s;
  }
  .elAshokan__close-btn:before, .elAshokan__close-btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 8px;
    margin-top: -4px;
    background: black;
    opacity: 0;
    transition: opacity 0s;
  }
  .elAshokan.s--active .elAshokan__close-btn:before, .elAshokan.s--active .elAshokan__close-btn:after {
    opacity: 1;
  }
  .elAshokan-btn:before {
    transform: rotate(45deg) translateX(100%);
  }
  .elAshokan.s--active .elAshokan__close-btn:before {
    transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    transform: rotate(45deg) translateX(0);
  }
  .elAshokan__close-btn:after {
    transform: rotate(-45deg) translateX(100%);
  }
  .elAshokan.s--active .elAshokan__close-btn:after {
    transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    transform: rotate(-45deg) translateX(0);
  }
  .elAshokan__index {
   overflow: hidden;
    position: absolute;
    left: 0;
    bottom: -80px;
    width: 100%;
    height: 100%;
    min-height: 250px;
    text-align: center;
    font-size: 3vw;
    line-height: 0.85;
    font-weight: bold;
    transition: transform 0.5s, opacity 0.3s 1.4s;
    transform: translate3d(1, 1vw, 0);

  }
  .elAshokan:hover .elAshokan__index {
    transform: translate3d(0, 0, 0);
  }
  
  .contAshokan.s--elAshokan-active .elAshokan__index {
    transition: transform 0.5s, opacity 0.3s;
    opacity: 0;
  }
  .elAshokan__index-back, .elAshokan__index-front {
    position: absolute;
    left: 0;
    bottom: 20.5%;
    width: 100%;
  } 
   .elAshokan__index-back {
    color: #fff;
    opacity: 0;
    transition: opacity 0.25s 0.25s;
    writing-mode: vertical-lr;

  }
  .elAshokan:hover .elAshokan__index-back {
    transition: opacity 0.25s;
    opacity: 1;
  }
  .elAshokan__index-overlay {
    overflow: hidden;
    position: relative;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.5s 0.1s;
    color: transparent;
  }
  /* .elAshokan__index-overlay:before {
    content: attr(data-index);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    writing-mode: vertical-lr;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.5s 0.1s;
  } */
  .elAshokan:hover .elAshokan__index-overlay {
    transform: translate3d(0, -399%, 0);
  } 
  .elAshokan:hover .elAshokan__index-overlay:before {
    transform: translate3d(0, 0, 0);
  }
  .elAshokan:hover .elAshokan__heading {
    display: none;
}
 
  .elAshokan:nth-child(1) {
    transform: translate3d(0%, 0, 0);
    transform-origin: 50% 50%;
  }

  .contAshokan.s--elAshokan-active .elAshokan:nth-child(1):not(.s--active) {
    transform: scale(0.5) translate3d(0%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
  }

  .elAshokan:nth-child(1) .elAshokan__inner {
    transition-delay: 0s;
  }
  .elAshokan:nth-child(1) .elAshokan__bg {
    transform: translate3d(24%, 0, 0);
  }

  /* .elAshokan:nth-child(1) .elAshokan__heading {
   color: rgb(173, 176, 9);
    text-transform: uppercase;
    font-size: 80px;
    transform: rotate3d(90);
    background-color: #3f39398e;
    opacity: 0.9;
    height: 90px;
    width: 100%;
    margin-top: 300px;
    margin-left: 54%;
    font-family: 'Quicksand', sans-serif;
  } */
  
  .elAshokan:nth-child(1) .elAshokan__bg:before {
    transition-delay: 0s;
    background-size: contain;
    background-repeat: no-repeat;
  }



  .elAshokan:nth-child(2) {
    transform: translate3d(105.20833%, 0, 0);
    transform-origin: 155.20833% 50%;
  }
  .contAshokan.s--elAshokan-active .elAshokan:nth-child(2):not(.s--active) {
    transform: scale(0.5) translate3d(105.20833%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
  }

  .elAshokan:nth-child(2) .elAshokan__inner {
    transition-delay: 0.1s;
  }
  .elAshokan:nth-child(2) .elAshokan__bg {
    transform: translate3d(27.2%, 0, 0);
  }
 
  .elAshokan:nth-child(2) .elAshokan__heading {
    color: rgb(173, 176, 9);
    text-transform: uppercase;
    font-size: 80px;
    transform: rotate3d(90);
    background-color: #3f39398e;
    opacity: 0.9;
    height: 90px;
    width: 100%;
    margin-top: 300px;
    font-family: 'Quicksand', sans-serif;

  }
  .elAshokan:nth-child(2) .elAshokan__bg:before {
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
    transition-delay: 0.1s;
    /* background-image: url("../../assets/Works/Automonuments/Artbridge3.jpg"); */
    background-size: contain;
    background-repeat: no-repeat;
    
    
  }

  .elAshokan:hover .elAshokan__bg:after {
    opacity: 0;
  }
  .elAshokan.s--active {
    z-index: 1;
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
  }
  .elAshokan.s--active .elAshokan__bg {
    transform: translate3d(0,0, 0);
    transition: transform 0.6s;
  }
  .elAshokan.s--active .elAshokan__bg:before {
    transition-delay: 0.6s;
    transform: scale(0.8);
  }


  


  