@import url('https://fonts.googleapis.com/css?family=Quicksand:300');


body {
  width: 100%;
  height: 100%;
  font-family: 'Quicksand', sans-serif;

}

.Navbar{
margin-top: 10px;
height: 50px;
font-size: 30px;
font-family: 'Quicksand', sans-serif;
margin-bottom: 30px;

}

#columnGrid{
  color: black;
  font-family: 'Quicksand', sans-serif;
  height: 600px;
  

}

.mx-auto{
  /* border: 2px solid black;
  height: 600px;
  margin: 60%; */
  /* font-size: 60px; */
  text-decoration: none;

}


 @import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
.snip1572 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: left;
  font-size: 16px;
  background: #ffffff;
}

.snip1572 *,
.snip1572:before,
.snip1572:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.snip1572 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1572:before,
.snip1572:after {
  content: '';
  background-color: #000;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.snip1572:before {
  width: 300px;
  height: 2px;
}

.snip1572:after {
  height: 300px;
  width: 2px;
}

.snip1572 figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
}

.snip1572 h3 {
  font-weight: 400;
  padding: 8px 15px;
  margin: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.snip1572 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1572:hover img,
.snip1572.hover img {
  zoom: 1;
  filter: alpha(opacity=25);
  -webkit-opacity: 0.25;
  opacity: 0.25;
}

.snip1572:hover:before,
.snip1572.hover:before,
.snip1572:hover:after,
.snip1572.hover:after {
  opacity: 1;
}

.snip1572:hover:before,
.snip1572.hover:before {
  width: 50px;
}

.snip1572:hover:after,
.snip1572.hover:after {
  height: 50px;
}

.snip1572:hover h3,
.snip1572.hover h3 {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}

#shortBio {
  margin-top: 70px;
  font-size: 25px;
}

#showRoom{
  margin-top: 70px;
}

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.snip1532 {
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #000000;
  display:inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  margin: 10px 0.5%;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
}

.snip1532 *,
.snip1532 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.snip1532 img {
  max-width: 100%;
  vertical-align: top;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.snip1532 figcaption {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
}

.snip1532 h3 {
  font-size: 20px;
  margin: 0;
  padding: 0 20px;
  text-transform: uppercase;
}

.snip1532 i {
  font-size: 40px;
  position: absolute;
  bottom: 0%;
  right: -1px;
  -webkit-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
  opacity: 0;
  line-height: 60px;
  width: 60px;
  color: #fff;
  background-color: #000000;
}

.snip1532 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.snip1532:hover figcaption,
.snip1532.hover figcaption {
  opacity: 1;
}

.snip1532:hover img,
.snip1532.hover img {
  opacity: 0.2;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.snip1532:hover i,
.snip1532.hover i {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}



#columnGrid {
  height: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}



#homeColumns { 
  margin-top: 40px;
}

/* #HoverMain{
  
} */

#fineArtMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  height: 100px;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  transition: all 1s;
}

#fineArtsub{
  font-size: 50px;
  width: 30%;


}

#fineArtMain #fineArtsub {
  opacity: 1;
  /* transform: translateY(100px); */
  transition: opacity 0.5s 0.2s, transform 0.8s ;
}
#fineArtHover {
  opacity: 0;
  transform: translateX(-900px);
  transition: opacity 0.3s, transform 0.5s 0.3s;
  
}
 #fineArtMain:hover {
  width: 100%;
  height: 600px;
  background-color: black;
  box-shadow: -5px 5px 25px #000;
  color: white;
  cursor: pointer;

}
 #fineArtsub:hover {
  opacity: 0;
  transform: translateY(420px);
  
}
#fineArtsub:hover #fineArtHover {
  color:white;
  opacity: 1;
  transform: translateX(-100px);
  
}

/* COMMERCIAL HOVER */
/* COMMERCIAL HOVER */
/* COMMERCIAL HOVER */
/* COMMERCIAL HOVER */
/* COMMERCIAL HOVER */

#commercialMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 100px;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  transition: all 1s;
}

#commercialSub{
  font-size: 50px;
  width: 30%;
  margin-top: 30px;


}



#commercialMain #commercialSub {
  opacity: 1;
  /* transform: translateY(100px); */
  transition: opacity 0.5s 0.2s, transform 0.8s ;
}
#commerciaHover {
  opacity: 0;
  transform: translateX(-900px);
  transition: opacity 0.3s, transform 0.5s 0.3s;
  
}
 #commercialMain:hover  {
  width: 100%;
  height: 600px;
  background-color: black;
  box-shadow: -5px 5px 25px #000;
  color: white;
  cursor: pointer;

}
 #commercialSub:hover #commercialMain:active{
  opacity: 0;
  transform: translateY(420px);
  
}
#commercialSub:hover #commerciaHover {
  color:white;
  opacity: 1;
  transform: translateX(-100px);
  
}


.thumbGrid{

  margin-top: 80px;
}

#addSign{
 /* padding-right: 50px;
 padding-left: 50px;
 transform: translateX(-20px); */
 margin: 40px;
}

